@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

<ul  class="navbar-nav me-auto mb-2 mb-lg-0">
    @foreach (var node in Model.Nodes)
    {
        <li class=" nav-item @(node.IsInCurrentPath ? "active" : "")">
            @Html.DisplayFor(m => node)

            @*@if (node.Children.Any())
            {
                @Html.DisplayFor(m => node.Children)
            }*@
        </li>
    }
</ul>