@using AspNetDeploy.WebUI.Models
@{
    ViewBag.Title = "Index";
    ViewBag.PageClass = "bundlesPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @foreach (BundleInfo bundleInfo in this.ViewBag.Bundles)
    {
        <h1>
            @Html.ActionLink(bundleInfo.Bundle.Name, "Details", new { id = bundleInfo.Bundle.Id })
            
            @switch (bundleInfo.State)
            {
                case BundleState.Undefined:
                    <small class="state">...</small>
                    break;

                case BundleState.Idle:
                    <small class="state"></small>
                    break;

                case BundleState.Loading:
                    <small class="state">Loading.. </small>
                    <img src="~/Resources/Layout/Images/vs-loading-colored.gif" style="height: 30px; " />
                    break;

                case BundleState.BuildQueued:
                case BundleState.Building:
                    <small class="state">Building</small>
                    <img src="~/Resources/Layout/Images/vs-loading-colored.gif" style="height: 30px; " />
                    break;

                case BundleState.Testing:
                    <small>Testing</small>
                    <img src="~/Resources/Layout/Images/vs-loading-colored.gif" style="height: 30px; " />
                    break;

                default:
                    <small class="state">? @bundleInfo.State</small>
                    break;
            }
        </h1>
        <hr />

        foreach (ProjectInfo projectInfo in bundleInfo.ProjectsInfo)
        {
            <div class="row machine">
                <div class="col-sm-8 col-md-6">
                    <div class="name">
                        <div>
                            @projectInfo.Project.SourceControl.Name / @projectInfo.Project.Name
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    
                </div>
            </div>
        }
        <br/>
    }

</div>



