<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="AspNetDeployEntities" connectionString="metadata=res://*/AspNetDeployEntities.csdl|res://*/AspNetDeployEntities.ssdl|res://*/AspNetDeployEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sand;initial catalog=AspNetDeploy;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>