<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="AspNetDeployEntities" connectionString="metadata=res://*/AspNetDeployEntities.csdl|res://*/AspNetDeployEntities.ssdl|res://*/AspNetDeployEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=snow,1435;initial catalog=AspNetDeploy-Test;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>