<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="PackagesPath" value="H:\AspNetDeploySatelliteWorkingFolder\Packages"/>
        <add key="BackupsPath" value="H:\AspNetDeploySatelliteWorkingFolder\Backups"/>
    </appSettings>
    <system.web>
        <httpRuntime maxRequestLength="10485760"/>
    </system.web>
    <system.serviceModel>
        <client>
            <endpoint address ="http://localhost:8090/AspNetDeploySatellite/DeploymentService"
                      binding ="wsHttpBinding"
                      contract ="DeploymentService.IDeploymentService">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>