<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="PackagesPath" value="H:\AspNetDeploySatelliteWorkingFolder\Packages" />
        <add key="BackupsPath" value="H:\AspNetDeploySatelliteWorkingFolder\Backups" />
        <add key="DeploymentService.Endpoint.URI" value="http://localhost:8090/AspNetDeploySatellite/DeploymentService" />
        <add key="MonitoringService.Endpoint.URI" value="http://localhost:8090/AspNetDeploySatellite/MonitoringService" />
        <add key="InformationService.Endpoint.URI" value="http://localhost:8090/AspNetDeploySatellite/InformationService" />
        <add key="Metadata.Enabled" value="true" />
        <add key="Authorization.Enabled" value="false" />
        <add key="Authorization.UserName" value="DeploymentService" />
        <add key="Authorization.Password" value="2E987904-9B47-4BA4-9A45-CF368B159590-DB8AC5FB-AACD-420C-BEAF-F7F201D689B8" />
        <add key="Authorization.CertificateName" value="*staging" />
    </appSettings>
    <system.web>
        <httpRuntime maxRequestLength="10485760"/>
    </system.web>
</configuration>