<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
        <add key="PackagesPath" value="D:\Limetime\Deploy\Sattleline\Packages"/>
        <add key="BackupsPath" value="D:\Limetime\Deploy\Sattleline\Backups"/>
        <add key="Service.URI" value="http://localhost:8080/AspNetDeploySatellite"/>
        <add key="Metadata.Enabled" value="false"/>
        <add key="Authorization.Enabled" value="false"/>
        <add key="Authorization.UserName" value="DeploymentService"/>
        <add key="Authorization.Password" value="2E987904-9B47-4BA4-9A45-CF368B159590-DB8AC5FB-AACD-420C-BEAF-F7F201D689B8"/>
        <add key="Authorization.CertificateFriendlyName" value="*staging"/>
        <add key="LocalBackups.CompressionLevel" value="None"/>
    </appSettings>
    <system.web>
        <httpRuntime maxRequestLength="10485760"/>
    </system.web>   
    <system.serviceModel>
        <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0"/>
		<behaviors>
	        <serviceBehaviors>
		        <behavior name="MyServiceTypeBehaviors" >
			        <serviceMetadata httpGetEnabled="true" />
		        </behavior>
	        </serviceBehaviors>
        </behaviors>
        <services>
	        <!-- Примечание: Для реализации службы имя службы должно соответствовать имени конфигурации. -->
	        <service name="SatelliteConsoleHost.ServiceHostContainer">
		        <!-- Добавьте следующую конечную точку.  -->
		        <!-- Примечание: Для добавления этой конечной точки служба должна иметь базовый http-адрес. -->
		        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
	        </service>
        </services>

	</system.serviceModel>
</configuration>
