body
{
    overflow-y: scroll;
    margin-bottom: 100px;
}

H1 a,
H2 a,
H3 a
{
    color: #000;
    border-bottom: none;
}
H1 > a:hover,
H2 > a:hover,
H3 > a:hover
{
    text-decoration: none;
}


.btn
{
    outline: none !important;
}


.pageWrapper
{
    margin-top: 70px;
}

.pageWrapper a
{
    color: #000;
    border-bottom: 1px solid #e1e1e1;
}

.loadingIcon
{
    height: 16px;
}

.pageWrapper h1 > a,
.pageWrapper h2 > a,
.pageWrapper h3 > a
{
    border-bottom: none;
}
.pageWrapper h1 .loadingIcon,
.pageWrapper h2 .loadingIcon,
.pageWrapper h3 .loadingIcon
{
    height: 22px;
}

.pageWrapper a:hover
{
    border-bottom: 1px solid #b3b3b3;
    text-decoration: none;
}

.pageWrapper .nav-pills a
{
    border-bottom: none;
}

.environmentsPage .machine + .machine,
.sourcesPage .project + .project
{
    margin-top: 8px;
}



.environmentsPage .machine .name,
.sourcesPage .project .name
{
    background-color: #F5F5F5;
    padding: 15px;
}


.variable
{
    padding: 6px;
    border: 1px solid #ABDEED;
    border-radius: 6px;
    background-color: #EFFFFE;
}

.sourcesPage .sourceSelector img
{
    margin-right: 20px;
    height: 50px;
}

.sourcesPage .sourceSelector .empty
{
    margin-right: 80px;
    line-height: 50px;
}
.sourcesPage .sourceSelector .list-group-item
{
    font-size: 20px;

}