<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDeploymentService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IMonitoringService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IInformationService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/AspNetDeploySatellite/MonitoringService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMonitoringService"
                contract="MonitoringServiceReference.IMonitoringService" name="WSHttpBinding_IMonitoringService" />
            <endpoint address="http://localhost:8090/AspNetDeploySatellite/InformationService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInformationService"
                contract="InformationServiceReference.IInformationService"
                name="WSHttpBinding_IInformationService" />
            <endpoint address="http://localhost:8090/AspNetDeploySatellite/DeploymentService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDeploymentService"
                contract="DeploymentServiceReference.IDeploymentService" name="WSHttpBinding_IDeploymentService" />
        </client>
    </system.serviceModel>
</configuration>