<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDeploymentService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/AspNetDeploySatellite/DeploymentService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDeploymentService"
                contract="SatelliteServiceReference.IDeploymentService" name="WSHttpBinding_IDeploymentService">
                <identity>
                    <userPrincipalName value="SHADE@office.documentoved.ru" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>