@using Environment = AspNetDeploy.Model.Environment

@{
    ViewBag.Title = "Index";
    ViewBag.PageClass = "environmentsPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @foreach (Environment environment in this.ViewBag.Environments)
    {
        <h1> @Html.ActionLink(environment.Name, "Details", new { id = environment.Id }) </h1>
        <hr />

        foreach (Machine machine in environment.Machines)
        {
            <div class="row machine">
                <div class="col-sm-8 col-md-4">
                    <div class="name">
                        <div class="roles pull-right">
                            @foreach (MachineRole role in machine.MachineRoles)
                            {
                                <span class="label label-default">@role.Name</span>
                            }
                        </div>
                        <div>
                            <img src="~/Resources/Layout/Images/Icons/server32.png" />
                            @machine.Name
                            <span id="@("idMachine" + machine.Id)">
                                <img class="loadingIcon" src="~/Resources/Layout/Images/vs-loading-colored.gif" style="display: none;" />
                                <small class="status text-muted" style="display: none;"></small>
                            </span>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="col-sm-6">
                    
                </div>
            </div>
        }
        <br/>
    }

</div>



