<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Settings.WorkingFolder" value="C:\AspNetDeployWorkingFolderO" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Settings.EnableTaskRunner" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
      <add name="AspNetDeployEntities" connectionString="metadata=res://*/AspNetDeployEntities.csdl|res://*/AspNetDeployEntities.ssdl|res://*/AspNetDeployEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=snow,1435;initial catalog=AspNetDeploy;User Id=AspNetDeployUser;Pwd=bWNk^#fbc2vH;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <add name="AspNetDeployEntitiesClean" connectionString="data source=snow,1435;initial catalog=AspNetDeploy;User Id=AspNetDeployUser;Pwd=bWNk^#fbc2vH;multipleactiveresultsets=True;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>