@using WebUI.Models


@{
    ViewBag.Title = "Index";
    ViewBag.PageClass = "sourcesPage";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    
    <h1>
        Add source
    </h1>
        
    <hr />
    
    
    

</div>
