<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="PackagesPath" value="H:\AspNetDeploySatelliteWorkingFolder\Packages" />
        <add key="BackupsPath" value="H:\AspNetDeploySatelliteWorkingFolder\Backups" />
        <add key="Service.URI" value="http://localhost:8090/AspNetDeploySatellite/DeploymentService" />
        <add key="Metadata.Enabled" value="false" />
        <add key="Metadata.URI" value="http://localhost:8091/AspNetDeploySatellite/Metadata" />
        <add key="Authrozation.Enabled" value="false" />
        <add key="Authrozation.UserName" value="DeploymentService" />
        <add key="Authrozation.Password" value="2E987904-9B47-4BA4-9A45-CF368B159590-DB8AC5FB-AACD-420C-BEAF-F7F201D689B8" />
        <add key="Authrozation.CertificateName" value="*staging" />
    </appSettings>
</configuration>