<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
        <add key="PackagesPath" value="D:\Limetime\Deploy\Sattleline\Packages"/>
        <add key="BackupsPath" value="D:\Limetime\Deploy\Sattleline\Backups"/>
        <add key="Service.URI" value="http://localhost:8090/AspNetDeploySatellite"/>
        <add key="Metadata.Enabled" value="false"/>
        <add key="Authorization.Enabled" value="false"/>
        <add key="Authorization.UserName" value="DeploymentService"/>
        <add key="Authorization.Password" value="2E987904-9B47-4BA4-9A45-CF368B159590-DB8AC5FB-AACD-420C-BEAF-F7F201D689B8"/>
        <add key="Authorization.CertificateFriendlyName" value="*staging"/>
        <add key="LocalBackups.CompressionLevel" value="None"/>
    </appSettings>
</configuration>
